@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap';

$primary-font: 'Lato', sans-serif;
$bold: 700;

$background-blue: #2b334a;
$background-grey: #f7f9fa;
$background-white: #fff;

$primary-text: #2b334a;
$secondary-text: #666d80;
$tab-primary: #000c2c;
$tab-secondary: #485169;
$demo_button: #fa9a00;
$border: #e6e6e8;
$border-box: #f1f1f1;
$terms-link: #6a8100;
$terms-link-a: #999;
$footer-text: #a1a3af;
$modal-button: #7c9d19;
$navlinks: #485169;
$tab-buttons: #969ba0;
$tab-border: #ececec;
$testimonials-span: #60717f;
$testimonials-link: #2d3e50;
$msg-circle:  #F94839;
$form-input: #f0f0f8;
$form-text: #495057;
$modal-background: rgba(0,0,0,0.4);
$box-shadow-logo: rgb(55 55 55 / 10%);
$sticky-box-shadow: rgb(204 204 204 / 50%);
$popover-border: rgba(255, 255, 255, 0);
$popover-border-bottom: #49c5b6;
$card-body: #fefefe;
$card-header: #666d80;



$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$mobile-breakpoint: 576px;
$nav-breakpoint: 658px;
$small-mobile: 425px;
$laptop-breakpoint: 1024px;
$uhd: 1440px;
$fourk: 2560px;
