@import '_variables';

.logo-area {
    text-align: center;
    padding: 32px 0;
    width: 62%;
    margin: auto;
    h2 {
        margin: 32px 0;
    }
    @keyframes fade-out {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }    
    }
    @keyframes fade-out-2 {
        0% {
            opacity: 0;
        }
        
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }    
    }
    .client-logo-slider {
        margin: auto;
        position: relative;
        width: 69.25rem;
        height: 3.688rem;
        background-color: $background-white;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 0px $box-shadow-logo;
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
        .slider-fade {
            display: flex;
            flex-direction: row;
            position: absolute;
            transition: opacity 5s ease-in-out;
            -webkit-transition: opacity 5s ease-in-out;
            -moz-transition: opacity 5s ease-in-out;
            -o-transition: opacity 5s ease-in-out;
            animation-name: fade-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 10s;
            animation-direction: alternate;
        }
        .slider-fade-2 {
            display: flex;
            flex-direction: row;
            position: absolute;
            transition: opacity 5s ease-in-out;
            -webkit-transition: opacity 5s ease-in-out;
            -moz-transition: opacity 5s ease-in-out;
            -o-transition: opacity 5s ease-in-out;
            animation-name: fade-out-2;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 10s;
            animation-direction: alternate;
        }
        .slider-image {
            padding: 0 .938rem 1.25rem .938rem;
        }
    }
}
