@import '_variables';

.testimonials-section {
    @media (max-width: $mobile-breakpoint) {
        height: 43.75rem;
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        height: 31.25rem;
    }
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
        height: 24rem;
    }
    @media (min-width: $laptop-breakpoint) {
        height: 18.75rem;
    }
    background-color: $primary-text;
    padding-top: 1.875rem;
    margin-top: 2rem;
    height: 16.25rem; 
    .testimonials-box {
        @media (min-width: $laptop-breakpoint) {
            width: 90%;
        }
        @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
            width: 90%;
            height: 25.625rem;
        }
        @media (max-width: $mobile-breakpoint) {
            width: 90%;
            flex-flow: column nowrap;
            height: 37.5rem;
        }
        @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
            height: 26rem; 
        }
        position: relative;
        display: flex;
        width: 60%;
        margin: 4rem auto 0 auto;
        background-color: $background-white;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px rgb(55 55 55 / 10%);
        z-index: 10;
        height: 19.375rem;
        .testimonials-box-image {
            @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
                flex: 0 0 30%;
                margin-top: -4rem;
            }
            @media (max-width: $mobile-breakpoint) {
                padding-bottom: 0;
                margin-top: -5.813rem;
            }
            @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
                padding-bottom: 0;
                margin-top: -2rem;
            }
            @media (min-width: $laptop-breakpoint) and (max-width: $uhd) {
                flex: 0 1 45%;
            }
            @media (min-width: $uhd) {
                flex: 0 1 20%;
            }
            // @media (min-width: $fourk) {
            //     flex: 0 1 20%;
            // }
            position: relative;
            margin-top: -70px;
            padding: 2rem 0.938rem;
            max-width: 100%;
            flex: 0 1 45%;   
        }
        .testimonials-box-text {
            @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
                padding: 1.8rem 2.438rem 0 1.5rem; 
            }
            @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
                padding: 0 1.5rem 0 1.5rem; 
            }
            @media (max-width: $mobile-breakpoint) {
                padding-top: 0;
                flex: 1 0 100%;
            }
            // @media (min-width: $laptop-breakpoint) {
            //     padding: 0 1.5rem 0 1.5rem; 
            // }
            align-items: flex-end;
            padding: 1.8rem 2.438rem 0 4rem; 
            h2 {
                @media (max-width: $small-mobile) {
                    line-height: 1.7rem;
                }
                color: $primary-text;
                font-size: 1.87rem;
                margin: 1rem auto;
                text-align: left;
                line-height: 2.8rem; 
            }
            h6 {
                font-size: 1.1rem;
                color: $demo_button;
                span {
                    color: $testimonials-span;
                    font-size: 0.87rem;
                    line-height: normal;
                    padding-top: 8px;
                }
            }
            .video-btn {
                font-size: 1rem;
                vertical-align: middle;
                color: $testimonials-link;
                display: inline;
                text-decoration: none;
                span {
                    margin-top: 1rem;
                    display: flex;
                    flex-flow: row nowrap;
                    border: 1px solid $modal-button;
                    border-radius: 50px;
                    width: 36px;
                    height: 36px;
                    box-shadow: 0px 1px 3px 1px rgb(4 70 156 / 30%);
                    font-size: .813rem;
                    background-color: $modal-button;
                    align-items: center;
                    i {
                        padding-left: .8rem;
                        padding-right: 1rem;
                        color: $background-white;
                        // margin: auto;
                        font-size: .813rem;
                        flex: 1 0 60%;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: bold;
                        color: $primary-text;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.testimonials-section:after {
    @media (max-width: $mobile-breakpoint) {
        margin-top: -19px;
        transform: skewY(178deg);
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        margin-top: -1.5rem; 
    }
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
        margin-top: -9rem;
    }
    @media (min-width: $laptop-breakpoint) {
        margin-top: -7rem;
        transform: skewY(358.7deg);
    }
    // @media (min-width: $uhd) {
    //     margin-top: -113px;
    // }
    @media (min-width: $fourk) {
        height: 6.25rem;
        margin-top: -9rem;
    }
    content: "";
    width: 100%;
    height: 60px;
    background-color: $primary-text;
    transform: skewY(358deg);
    z-index: 1;
    display: block;
    margin-top: -148px;
}


